<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div id="title">
        <img id="logo" src="assets/logo.png">
        
        <nav>
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['directory']">Ninja Items</a></li>
            <li><a [routerLink]="['contacts']">Contacts</a></li>
            <li><a [routerLink]="['register']">Register</a></li>
            <li><a [routerLink]="['/']">Sign In</a></li>
        </ul>
        </nav>
    </div>
</header> 

<section id='main'>
<!--<app-home [ninja]="ninja"(onYell)="yell($event)">Bobby</app-home>-->


<router-outlet></router-outlet>    <!--Load in a view-->
</section>

<footer>
    <div class="footer-style">

            <span><a [routerLink]="['/']">Home</a></span>
            <span><a [routerLink]="['directory']">Ninja Items</a></span>
            <span><a [routerLink]="['contacts']">Contacts</a></span>
            <span><a [routerLink]="['register']">Register</a></span>
    <p class="copyright">&copy; Thomas Mar 2018</p>
    </div>
</footer>



<!--Attributes - Interacts with elements to change its properties. ngClass
    Structural - Change structure of HTML. *ngIf
-->
