<div id="ninjaPic">
  <p>Do things</p>
</div>
<h2>
  {{homeTitle}}
</h2>
<br><br>
<p>This website works</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--
<ul>
  <li>Hi</li>
  <li>World</li>
</ul>

<ng-content></ng-content>


<input value="Winner Winner Chicken Dinner" />
<input [value]="someString" />   
<input value="{{someString}}" />  


<input [required]="bool" />
<input required="{{bool}}" />

<br><br>
<button (click)="alertMe('Beef')">Click Me!</button>
<br>


<label>Name:</label><input [(ngModel)]="train.name"/>
<label>Colour:</label><input [(ngModel)]="train.colour"/>



<p>{{train.name}}</p>
<p>{{train.colour}}</p>



<p>{{ninja.name}}</p>
<p>{{ninja.colour}}</p>


<button (click)="fireYellEvent($event)">Hit Me!</button>





<button (click)="logIt()">Log</button>
-->
