<div class="section">
  <div class="display" id="registration">
    <h2>Register</h2>
    <form>
      <div class="register-form">
        <label>User Name</label>
        <input class="form-group">
        <label>Email Address</label>
        <input class="form-group">
        <label>Password</label>
        <input class="form-group">
        <label>Confirm Password</label>
        <input class="form-group">

        <button (click)="something" class="submit">Submit</button>
      </div>
    </form>
  </div>
</div>